/* text */
/**********************texts*********************/
.travel__title {
  font-family: var(--font-sauce);
  font-size: 1.5rem;
  font-weight: 300;
}

/* sm */
@media (min-width: 640px) {
  .travel__title {
    font-size: 2rem;
  }
}
/* md */
@media (min-width: 768px) {
  .travel__title {
    font-size: 2.5rem;
  }
}
@media (min-width: 1300px) {
  .travel__title {
    font-size: 3rem;
  }
}
/* form */
.content_forms {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 0.8rem 10rem 0.8rem;
}

.iti__country-list {
  max-width: 260px !important;
  max-height: 170px;
  border-radius: 10px;
  background-color: white !important;
  border: none !important;
  box-shadow: none !important;
  overflow-x: hidden;
}

@media (min-width: 1024px) {
  .iti__flag-container .iti__country-list {
    max-width: 360px !important;
    max-height: 250px !important;
  }
}

.iti .iti__flag-container .iti__country {
  padding: 10px 15px !important;
  width: 100%;
  font-size: 14px;
  overflow: hidden;
}

@media (min-width: 1024px) {
  .iti__flag-container .iti__country {
    font-size: 16px;
  }
}

/* Mobile */
.iti-mobile .iti--container {
  inset: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iti-mobile .iti__country-list {
  max-height: 100%;
  width: 100%;
}
.iti-mobile .iti__country-list {
  max-width: 320px !important;
  max-height: 60% !important;
  border-radius: 15px !important;
  background-color: white;
  box-shadow: none;
  overflow-x: hidden;
}

@media (max-width: 500px) {
  .iti__country-list {
    white-space: normal;
  }
}

/******************box-form**********************/
.box__form-travel {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 0.5rem;
  align-self: stretch;
  background-color: var(--primary-50);
  border-radius: var(--radius);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
@media (min-width: 520px) {
  .box__form-travel {
    border-radius: var(--radius);
    padding: 1.8rem;
  }
}
